.ListItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

@media (prefers-color-scheme: dark) {
  .ListItem {
    border-bottom-color: var(--border-color-dark);
  }
}

.label {
  padding: 1rem 0;
  flex-grow: 2;
}
