.Menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-color: var(--bg-color);
}

.Menu.visible {
  display: block;
}

.MenuCloseBtn {
  float: right;
  font-size: 3rem;
}

.MenuItems {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
